@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/geist";

/* Map your CSS variables to Tailwind v4 theme utility tokens */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --radius-lg: var(--radius);
}

@custom-variant dark (&:is(.dark *));

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Standard App Colors */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --radius: 0.625rem;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
}

html,
body,
#root {
  margin: 0;
  min-height: 100vh;
  min-width: 100%;
  background-color: #e2e5e8;
}
